In [ ]:
!python -m pip install --user --upgrade pip #to install or upgrade pip

#use 'conda list' to obtian the versions of libraries
!pip3 install pandas==0.24.2 matplotlib==3.2.2 scipy==1.4.1 statsmodels==0.12.0 scikit-learn==0.23.1 lightgbm --user

In [ ]:
!pip3 install kfp --upgrade --user # install kubeflow pipelines

In [ ]:
#Check if the install was successful

!which dsl-compile

In [ ]:
# Import Kubeflow SDK
import kfp  
import kfp.dsl as dsl  #dsl is for assembling the entire pipeline
import kfp.components as comp  #components builds individual components

# where the outputs are stored
data_path = "components"

## DATA INJESTION

In [ ]:
def data_injestion(data_path):
    import pickle #used to save the model
    import sys, subprocess; #sys is system libraries 
    subprocess.run([sys.executable, '-m', 'pip', 'install', 'pandas==0.24.2'])

    import pandas as pd
    
    train = pd.read_csv("pd.read_excel('https://github.com/olawalecodes/stage-f-11-food-delivery/blob/master/data/Data_Train.xlsx?raw=true") 
    test = pd.read_csv("pd.read_excel('https://github.com/olawalecodes/stage-f-11-food-delivery/blob/master/data/Data_Test.xlsx?raw=true")
    
    #Save the injested data as a pickle file to be used by the data tranformation component.
    with open(f'{data_path}/inj_data', 'wb') as f:
        pickle.dump((train,test), f)`

In [6]:
idata = data_injestion(data_path)

## DATA PREPROCESSING

In [7]:
def data_transformation(data_path):
    
    import sys, subprocess;
    subprocess.run([sys.executable, '-m', 'pip', 'install', 'pandas==0.24.2'])
    subprocess.run([sys.executable, '-m', 'pip', 'install', 'scikit-learn==0.23.1'])
    
    import pandas as pd
    import numpy as np
    import itertools
    import scipy
    from sklearn.metrics import accuracy_score
    
    import pickle

    
    # Load and unpack the test_data
    with open(f'{data_path}/inj_data','rb') as f:
        data = pickle.load(f)
    train, test = data
    
    combined_data = train.append(test, ignore_index=True,sort=False)
    combined_data.drop('Delivery_Time', inplace=True,axis=1)
    
    combined_data['Average_Cost'] = combined_data['Average_Cost'].str.replace("[^0-9]","")
    combined_data['Average_Cost'] = combined_data['Average_Cost'].str.strip()
    combined_data['Average_Cost']=pd.to_numeric(combined_data['Average_Cost'])
    combined_data['Average_Cost'] = combined_data['Average_Cost'].fillna(-999).astype(int)
    
    combined_data['Minimum_Order'] = combined_data['Minimum_Order'].str.replace("[^0-9]","")
    combined_data['Minimum_Order'] = combined_data['Minimum_Order'].str.strip()
    combined_data['Minimum_Order']=pd.to_numeric(combined_data['Minimum_Order'])
    combined_data['Minimum_Order'] = combined_data['Minimum_Order'].fillna(-999).astype(int)
    
    combined_data.Rating = combined_data.Rating.replace("NEW",-999)
    combined_data.Rating = combined_data.Rating.replace("-",-999)
    combined_data.Rating = combined_data.Rating.replace("Opening Soon",-999)
    combined_data.Rating = combined_data.Rating.replace("Temporarily Closed",-999)
    combined_data.Rating = combined_data.Rating.astype('float')
    
    combined_data.Votes = combined_data.Votes.replace("-",-999)
    combined_data.Votes = combined_data.Votes.astype('float')
    
    combined_data.Reviews = combined_data.Reviews.replace("-",-999)
    combined_data.Reviews = combined_data.Reviews.astype('float')
    
    combined_data['city'] = combined_data['Location'].apply(lambda x : np.char.strip(x.split(','))[-1])
    
    actual_city = {'Noida' : 'Noida', 
               'Gurgaon' : 'Gurgoan',
               'Gurgoan' : 'Gurgoan',
               'Mumbai CST Area' : 'Mumbai',
               'Mumbai Central' : 'Mumbai',
               'Mumbai' : 'Mumbai',
               'Pune' : 'Pune',
               'Maharashtra' : 'Pune',
               'Pune University' : 'Pune',
               'Timarpur' : 'Delhi',
               'Delhi' : 'Delhi',
               'Delhi Cantt.' : 'Delhi',
               'Delhi University-GTB Nagar' : 'Delhi',
               'India Gate' : 'Delhi',
               'Whitefield' : 'Banglore', 
               'Marathalli' : 'Banglore',
               'Majestic' : 'Banglore',
               'Bangalore' : 'Banglore',
               'Electronic City' : 'Banglore',
               'Hyderabad' : 'Hyderabad',
               'Begumpet' : 'Hyderabad',
               'Kolkata' : 'Kolkata'
               }
    combined_data['city'] = combined_data[['city']].applymap(actual_city.get)
    combined_data = combined_data.drop("Location", axis=1)
    
    cuisines = list(combined_data.Cuisines.apply(lambda x : x.split(",")))
    
    merged = list(itertools.chain.from_iterable(cuisines))
    merged = np.sort(np.unique(np.char.lstrip(merged)))
    
    cuisines_DF = pd.DataFrame(0, index=np.arange(len(combined_data)), columns = merged)
    combined_data.Cuisines[0:(1)].apply(lambda x : np.char.strip(x.split(","))).tolist()[0]
    cuisines_DF.rename(columns = {'Poké' : 'Poke'}, inplace = True)
    combined_data = pd.merge(combined_data, cuisines_DF, left_index=True, right_index=True)
    
    combined_data['Minimum_Order_Zero'] = np.where(combined_data['Minimum_Order'] == 0, 1, 0)

    combined_data['Reviews_by_Votes'] = combined_data['Reviews'] / combined_data['Votes']
    combined_data['Minimum_Order_to_Cost'] = combined_data['Minimum_Order'] / combined_data['Average_Cost']
    #mapping the number of restaurants for each city
    combined_data["num_of_restaurants_city"] = combined_data["city"].map(combined_data.groupby("city").Restaurant.nunique())
    #number of restaurants for each city 
    combined_data["Restaurant_branch_count"] = combined_data["Restaurant"].map(combined_data["Restaurant"].value_counts())
    #combined_data['votes_review_rating'] = combined_data.Votes*combined_data.Reviews*combined_data.Rating
    
    target = "Delivery_Time"
    train_target = train[target]
    # Converting the classes to integer values. 
    # Since this is a multi class classfication problem. The class mapping will be useful when ensembling various models.
    train_target = train_target.apply(lambda x: x.split()[0]).astype(int)
    class_map = {}
    class_map_rev = {}
    for a,b in enumerate(sorted(train_target.unique())):
        class_map[b] = a
        class_map_rev[a] = b
    
    train_target = train_target.map(class_map)
    
    num_cols = ['Votes', 'Reviews', 'Rating', 'Average_Cost', 'Minimum_Order', 
            'Restaurant_branch_count', 'num_of_restaurants_city', 'Reviews_by_Votes', 'Minimum_Order_to_Cost']
    cat_cols = [col for col in combined_data.columns if col not in num_cols]
    features = pd.get_dummies(combined_data.drop(num_cols, axis=1), columns=cat_cols, sparse=True)
    
    features = features.sparse.to_coo()2
    num_features=scipy.sparse.coo_matrix(combined_data[num_cols].values)
    features=scipy.sparse.hstack([features, num_features]).tocsr()
    
    train_ohe = features[:train.shape[0], :]
    test_ohe = features[train.shape[0]:, :]
    
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(train_ohe, train_target, test_size=0.20, random_state=314, stratify=train_target)
    
    #Save the preprocessed data as a pickle file to be used by the model component.
    with open(f'{data_path}/preprocessed_data', 'wb') as f: # dumps the dataframe 
        pickle.dump((X_train, X_test, y_train, y_test), f)

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews
0,ID_2842,"Mico Layout, Stage 2, BTM Layout,Bangalore","North Indian, Chinese, Assamese",₹350,₹50,4.2,361,225
1,ID_730,"Mico Layout, Stage 2, BTM Layout,Bangalore","Biryani, Kebab",₹100,₹50,NEW,-,-
2,ID_4620,"Sector 1, Noida",Fast Food,₹100,₹50,3.6,36,16
3,ID_5470,"Babarpur, New Delhi, Delhi","Mithai, North Indian, Chinese, Fast Food, Sout...",₹200,₹50,3.6,66,33
4,ID_3249,"Sector 1, Noida","Chinese, Fast Food",₹150,₹50,2.9,38,14
5,ID_506,"Yerawada, Pune, Maharashtra","North Indian, Chinese",₹100,₹50,3.4,16,11
6,ID_8321,"Raja Bazar, Kolkata","South Indian, Fast Food",₹200,₹50,3.3,72,10
7,ID_4559,"Sector 3, Marathalli","Kerala, South Indian, Chinese",₹150,₹50,3.8,46,29
8,ID_7982,"Sector 1, Noida",North Indian,₹200,₹50,NEW,-,-
9,ID_2869,"D-Block, Sector 63, Noida",Mithai,₹200,₹50,3.2,5,2
10,ID_2728,Delhi University-GTB Nagar,"North Indian, Fast Food",₹350,₹50,3.6,123,63
11,ID_3977,"D-Block, Sector 63, Noida",North Indian,₹200,₹50,NEW,-,-
12,ID_494,"Sector 1, Noida",Chinese,₹100,₹50,3.1,9,1
13,ID_2213,"Delhi High Court, India Gate","North Indian, Seafood, Chinese, Mughlai",₹300,₹50,4.1,75,38
14,ID_6897,"BTM Layout 1, Electronic City",Street Food,₹50,₹50,3.9,134,47
15,ID_2152,"Sector 14, Noida",Fast Food,₹50,₹50,3.1,4,1
16,ID_3128,"D-Block, Sector 63, Noida","North Indian, Chinese",₹100,₹50,3.4,80,16
17,ID_2538,"Laxman Vihar Industrial Area, Sector 3A, Gurgoan","Fast Food, North Indian",₹200,₹50,-,-,-
18,ID_5445,"FTI College, Law College Road, Pune","Bakery, Desserts",₹100,₹50,3.2,9,2
19,ID_774,"Sandhurst Road, Mumbai CST Area","North Indian, Mughlai, Chinese",₹200,₹50,3.7,277,143
20,ID_1977,"Sector 1, Noida","North Indian, Chinese",₹150,₹50,NEW,-,-
21,ID_4865,"Sector 14, Noida","Cafe, Continental, Italian",₹200,₹50,3.8,288,147
22,ID_6598,"D-Block, Sector 63, Noida","North Indian, Mughlai, Afghan",₹300,₹99,4.0,290,178
23,ID_8484,"Yerawada, Pune, Maharashtra",Asian,₹200,₹50,3.2,30,4
24,ID_5668,"Mico Layout, Stage 2, BTM Layout,Bangalore","Cafe, Fast Food",₹200,₹50,3.2,4,1
25,ID_7048,"FTI College, Law College Road, Pune","Chinese, Thai",₹350,₹50,4.1,659,404
26,ID_4175,"FTI College, Law College Road, Pune",South Indian,₹100,₹50,-,-,-
27,ID_2866,"Nathan Road, Mangaldas Road, Pune",Street Food,₹50,₹50,3.8,145,12
28,ID_488,"FTI College, Law College Road, Pune",North Indian,₹150,₹50,3.3,9,3
29,ID_1542,"D-Block, Sector 63, Noida",North Indian,₹250,₹50,-,-,-
...,...,...,...,...,...,...,...,...
2744,ID_7501,"Delhi Administration Flats, Timarpur","North Indian, South Indian",₹200,₹50,2.9,4,3
2745,ID_4842,Delhi University-GTB Nagar,North Indian,₹300,₹50,4.3,636,159
2746,ID_4405,"D-Block, Sector 63, Noida","North Indian, Biryani",₹250,₹50,4.0,967,318
2747,ID_4385,"Musi Nagar, Malakpet, Hyderabad",South Indian,₹50,₹50,3.1,5,1
2748,ID_1715,"Sector 14, Noida",Chinese,₹250,₹50,NEW,-,-
2749,ID_8382,"MG Road, Pune","North Indian, Street Food",₹200,₹50,3.9,175,59
2750,ID_1572,"Sector 14, Noida","North Indian, Chinese",₹250,₹50,2.8,15,6
2751,ID_3970,"Nathan Road, Mangaldas Road, Pune","Burger, Fast Food",₹200,₹99,3.8,220,42
2752,ID_1567,"Babarpur, New Delhi, Delhi",Desserts,₹100,₹50,3.3,10,4
2753,ID_5125,"FTI College, Law College Road, Pune","Fast Food, Pizza, Desserts",₹200,₹50,3.4,20,5
2754,ID_5318,"Rmz Centennial, I Gate, Whitefield","Seafood, Biryani, North Indian",₹100,₹50,3.9,133,70
2755,ID_7930,"MG Road, Pune","North Indian, Maharashtrian, Chinese",₹300,₹50,-,-,-
2756,ID_6568,"Mico Layout, Stage 2, BTM Layout,Bangalore","South Indian, Beverages",₹50,₹50,3.5,11,7
2757,ID_5885,"Sector 14, Noida",North Indian,₹100,₹50,-,-,-
2758,ID_5905,"Mico Layout, Stage 2, BTM Layout,Bangalore",North Indian,₹350,₹199,3.5,444,249
2759,ID_2962,"FTI College, Law College Road, Pune","Rolls, Fast Food",₹150,₹50,-,-,-
2760,ID_7287,"Tejas Nagar Colony, Wadala West, Mumbai","Mithai, Street Food",₹100,₹50,3.7,-,-
2761,ID_1343,"Panjetan Colony, Malakpet, Hyderabad",Bakery,₹150,₹50,NEW,-,-
2762,ID_1784,"Rmz Centennial, I Gate, Whitefield","North Indian, Bengali, Chinese",₹200,₹50,3.7,56,41
2763,ID_1395,Mumbai Central,"Asian, Italian, Continental, Desserts, Healthy...",₹800,₹99,4.5,1256,731
2764,ID_1046,"Rmz Centennial, I Gate, Whitefield",South Indian,₹100,₹50,3.9,16,8
2765,ID_5635,"D-Block, Sector 63, Noida","North Indian, Rolls, Chinese, Continental, Fas...",₹150,₹50,4.0,313,192
2766,ID_4371,"Dockyard Road, Mumbai CST Area","Desserts, Beverages",₹150,₹50,3.3,7,5
2767,ID_908,"Sector 1, Noida",Biryani,₹200,₹50,3.3,21,4
2768,ID_3418,"Musi Nagar, Malakpet, Hyderabad","North Indian, Chinese, South Indian, Desserts",₹300,₹50,3.4,31,12
2769,ID_6342,Delhi University-GTB Nagar,"Fast Food, Chinese",₹100,₹50,NEW,-,-
2770,ID_8495,"Mico Layout, Stage 2, BTM Layout,Bangalore","Continental, North Indian, Desserts, Beverages",₹250,₹50,3.1,5,1
2771,ID_7122,"Noorkhan Bazaar, Malakpet, Hyderabad","Andhra, South Indian",₹150,₹50,3.0,16,1
2772,ID_2475,"D-Block, Sector 63, Noida",Bakery,₹100,₹99,3.0,7,2
2773,ID_1595,"Dockyard Road, Mumbai CST Area","Italian, Street Food, Fast Food",₹150,₹50,3.6,99,30

In [ ]:
new_data = data_transformation(data_path)

##  MODEL TRAINING

In [ ]:
def train(data_path):
    import sys, subprocess;
    subprocess.run([sys.executable, '-m', 'pip', 'install', 'pandas==0.24.2'])
    subprocess.run([sys.executable, '-m', 'pip', 'install', 'scikit-learn==0.23.1'])
    
    import pickle
    import pandas as pd
    import numpy as np
    from sklearn.ensemble import RandomForestClassifier    
    import lightgbm as lgb
    from scipy.stats import hmean
    
    with open(f'{data_path}/preprocessed_data','rb') as f:
        data = pickle.load(f)
    
    X_train, X_test, y_train, y_test=data
    
    lgb_fit_params={"early_stopping_rounds":50, 
                "eval_metric" : 'multi_logloss', 
                "eval_set" : [(X_test,y_test)],
                'eval_names': ['valid'],
                'verbose':100
               }

    lgb_params = {'boosting_type': 'gbdt',
     'objective': 'multiclass',
     'metric': 'multi_logloss',
     'verbose': 0,
     'bagging_fraction': 0.8,
     'bagging_freq': 1,
     'num_class': 7,
     'feature_fraction': 0.8,
     'lambda_l1': 0.01,
     'lambda_l2': 0.01,
     'learning_rate': 0.1,
     'max_bin': 255,
     'max_depth': -1,
     'min_data_in_bin': 1,
     'min_data_in_leaf': 1,
     'num_leaves': 31}
    
    #light gbm classifier on the split data
    clf_lgb = lgb.LGBMClassifier(n_estimators=10000, **lgb_params, random_state=123456789, n_jobs=-1)
    clf_lgb.fit(X_train, y_train, **lgb_fit_params)
    clf_lgb.best_iteration_
    
    #light gbm classifier on the full data
    clf_lgb_fulldata = lgb.LGBMClassifier(n_estimators=int(clf_lgb.best_iteration_*1.2), **lgb_params)
    clf_lgb_fulldata.fit(train_ohe, train_target)
    
    #prediction of the lgbm model fit on the split data
    pred = clf_lgb.predict_proba(X_test)
    pred = np.argmax(pred,axis=1)
    
    #random forest model with 2000 estimators fit on the full data
    %%time
    clf_rf_fulldata=RandomForestClassifier(n_estimators=2000, max_features=0.1)
    clf_rf_fulldata.fit(train_ohe, train_target)
    
    #random forest model with 1000 estimators fit on the full data
    clf_rf2_fulldata=RandomForestClassifier(n_estimators=1000, max_features=0.1)
    clf_rf2_fulldata.fit(train_ohe, train_target)
    
    #random forest model with 1000 estimators fit on the split data
    clf_rf2=RandomForestClassifier(n_estimators=1000, max_features=0.1)
    clf_rf2.fit(X_train, y_train)
    
    #prediction of the randomforest model(1000 estimators) fit on the split data
    pred_rf2_split = clf_rf2.predict_proba(X_test)
    pred_rf2_split = np.argmax(pred_rf2_split,axis=1)
    print(accuracy_score(pred_rf2_split, y_test))
    
    #random forest model with 2000 estimators fit on the split data
    %%time
    clf_rf=RandomForestClassifier(n_estimators=2000, max_features=0.1)
    clf_rf.fit(X_train, y_train)
    
    #prediction of the randomforest model(2000 estimators) fit on the split data
    pred_rf_split = clf_rf.predict_proba(X_test)
    pred_rf_split = np.argmax(pred_rf_split,axis=1)
    
    #SAVE THE 2 MODELS TO BE USED FOR ENSEMBLING
    
    with open(f'{data_path}/lgbmodel', 'wb') as f:  #save model
        pickle.dump(clf_lgb, f)
    with open(f'{data_path}/rfmodel', 'wb') as f:  #save model
        pickle.dump(clf_rf2, f)

    
    #ENSEMBLING
    #ensemble of the random forrest and lgbm model on the split data
    pred_ensemble1 = np.mean((clf_lgb.predict_proba(X_test),
                       clf_rf2.predict_proba(X_test)), axis=0)
    pred_ensemble1 = np.argmax(pred_ensemble1, axis=1)
    
    #ensemble using hmean of the random forrest and lgbm model on the split data
    pred_ensemble2 = hmean((np.clip(clf_lgb.predict_proba(X_test), 0.001, 1),
                         np.clip(clf_rf2.predict_proba(X_test), 0.001, 1)), axis=0)
    pred_ensemble2 = np.argmax(pred_ensemble2, axis=1)
    
    #ensemble using hmean of the random forrest and lgbm model on the test data
    prediction = hmean((np.clip(clf_lgb_fulldata.predict_proba(test_ohe), 0.001, 1),
                         np.clip(clf_rf2_fulldata.predict_proba(test_ohe), 0.001, 1)), axis=0)
    prediction = np.argmax(prediction, axis=1)
    
    submission = pd.DataFrame({target: pd.Series(prediction).map(class_map_rev).apply(lambda x: str(x)+" minutes")})
    print(submission)
    #submission.to_excel('Result.xlsx', index=False)
    
    with open(f'{data_path}/final_data', 'wb') as f:  #save final predicted data
        pickle.dump((submission, pred_ensemble2, ytest ), f)

In [ ]:
built = train(data_path)

## MODEL VALIDATION

In [ ]:
def validate(data_path):
    import sys, subprocess;
    subprocess.run([sys.executable, '-m', 'pip', 'install', 'pandas==0.24.2'])
    import pandas as pd
    from math import sqrt
    import numpy as np
    import pickle
    
     
    with open(f'{data_path}/final_data','rb') as f:  
        data = pickle.load(f)
    submission, pred_ensemble2, ytest = data
    
    evaluation=accuracy_score(pred_ensemble2, y_test)
    
     with open(f'{data_path}/result.txt', 'w') as f:  #saved as a text file , note 'w'
        f.write(" Model Accuracy: {}".format(evaluation))
    
    print('Successfully!')

In [ ]:
result = validate(data_path)

## CREATE COMPONENTS

In [ ]:
# Create components.
inj_op = comp.func_to_container_op(data_injestion , base_image = "tensorflow/tensorflow:latest-gpu-py3")
transformation_op = comp.func_to_container_op(data_transformation, base_image = "tensorflow/tensorflow:latest-gpu-py3")
train_op = comp.func_to_container_op(train, base_image = "tensorflow/tensorflow:latest-gpu-py3")
validate_op = comp.func_to_container_op(validate, base_image = "tensorflow/tensorflow:latest-gpu-py3")

## BUILD PIPELINES

In [ ]:
#Create a client to enable communication with the Pipelines API server.
client = kfp.Client()

In [ ]:
# Define the pipeline
@dsl.pipeline(
    name='Food Delivery Pipeline',
    description=
    'An ML pipeline that estimates the time of delivery of food.'
)
# Define parameters to be fed into pipeline
def food_delivery_pipeline(data_path: str):

    # Define volume to share data between components.
    vop = dsl.VolumeOp(name="create_volume",
                       resource_name="data-volume",
                       size="1Gi",
                       modes=dsl.VOLUME_MODE_RWO)

    # Create data injestion component.
    injestion_container = inj_op(data_path) \
                                    .add_pvolumes({data_path: vop.volume})

    # Create data transformation component.
    transformation_container = transformation_op(data_path) \
                                    .add_pvolumes({data_path: injestion_container.pvolume})
    # Create model training component.
    train_container = train_op(data_path) \
                                    .add_pvolumes({data_path: transformation_container.pvolume})
    
    # Create model validation component.
    validate_container = validate_op(data_path) \
                                    .add_pvolumes({data_path: train_container.pvolume})
    

    # Print the result of the prediction
    validation_result_container = dsl.ContainerOp(
        name="print_validation_result",
        image='library/bash:4.4.23', #default
        pvolumes={data_path: validate_container.pvolume},
        arguments=['cat', f'{data_path}/result.txt']) #txt file at the end

In [ ]:
DATA_PATH = data_path

pipeline_func = food_delivery_pipeline

In [ ]:
experiment_name = 'food_delivery_kubeflow'
run_name = pipeline_func.__name__ + ' run' 

arguments = {"data_path":DATA_PATH}

# Compile pipeline to generate compressed YAML definition of the pipeline.
kfp.compiler.Compiler().compile(pipeline_func,  
  '{}.zip'.format(experiment_name))

# Submit pipeline directly from pipeline function
run_result = client.create_run_from_pipeline_func(pipeline_func, 
                                                  experiment_name=experiment_name, 
                                                  run_name=run_name, 
                                                  arguments=arguments)